@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --color-main-color: hsl(176, 88%, 27%);
  --color-first-color-alt: hsl(129, 44%, 94%);
  --color-second-color: hsl(34, 94%, 87%);
  --color-title-color: hsl(0, 0%, 13%);
  --color-text-color: hsl(154, 13%, 32%); 
  --color-text-color-light: hsl(60, 1%, 56%);
  --color-body-color: hsl(0, 0%, 100%);
  --color-container-color: hsl(0, 0%, 93%);
  --color-border-color: hsl(129, 36%, 85%);
  --color-border-color-alt: hsl(113, 15%, 90%);
  /* --color-newsletter-color: hsl(166, 23%, 74%)  */
  --color-shubham: hsl(166, 23%, 74%);

  /*========== Font and typography ==475c53========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --font-body: "Lato", sans-serif;
  --font-second: "Spartan", sans-serif;

  --text-big-size: 3.5rem;
  --text-h1-size: 2.75rem;
  --text-h2-size: 2rem;
  --text-h3-size: 1.75rem;
  --text-h4-size: 1.375rem;
  --text-large-size: 1.275rem;
  --text-normal-size: 1rem;
  --text-small-size: 0.875rem;
  --text-smaller-size: 0.75rem;
  --text-tiny-size: 0.6875rem;

  --default-transition-duration: 0.4s;
  --default-transition-timing-function: cubic-bezier(0, 0, 0.05, 1);
}

@layer {
  /*=============== REUSABLE CSS CLASSES ===============*/
  body {
    @apply font-body;
  }
  .container {
    @apply max-w-[1320px] p-3 mx-auto;
  }

  .form-input {
    @apply p-4 h-[45px] rounded-l-sm;
  }

  .section-lg {
    @apply py-16;
  }

  .section {
    @apply py-8;
  }

  .section-title {
    @apply mb-6;
  }


  #deals1 {
    background-image: url("./img/deals-1.jpg");
    background-size: cover;
    background-position: center;
  }

  #deals2 {
    background-image: url("./img/deals-2.png");
    background-size: cover;
    background-position: center;
  }

  #countdown__time:not(:last-child)::after{
    content: ":";
    font-size: var(--text-large-size);
    font-weight: 600;
    color: var(--color-main-color);
    position: absolute;
    top: 15%;
    right: -25%;
  
  }
 }
 
 .swiper{
  overflow:initial;
 }
 
 .swiper-button-next,
 .swiper-button-prev{
    top: -1.875rem; 
   background-color: var(--color-first-color-alt);
   border: 1px solid var(--color-border-color);
   width: 30px;
   height: 30px;
   border-radius:50%;
   color: var(--color-main-color);
   font-size: var(--text-tiny-size); 
}

.swiper-button-prev{
  left: initial;
  right: 2.5rem;
}

.swiper-button-next{
  right: 0;
}

 .swiper-button-next::after,
 .swiper-button-prev::after{
   content: "";
 }

  /* ===================== Product ================ */
/* Active Tab */

.tab-btn.active-tab {
  color: var(--color-main-color);
  background-color: var(--color-second-color);
}

.tab-item:not(.active-tab) {
  display: none;
}

.action-btn::before,
.action-btn::after{
  position: absolute;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: all 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transition: all 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: all 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -ms-transition: all 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -o-transition: all 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.action-btn::before{
  content: "";
  top: -2px;
  border: .5rem solid transparent;
  border-top-color: var(--color-main-color);
}

.action-btn::after{
  content: attr(aria-label);
  bottom:100%;
  background-color: var(--color-main-color);
  color: var(--color-body-color);
  font-size: var(--text-tiny-size);
  white-space: nowrap;
  padding-inline: 0.625rem;
  line-height: 2.58;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.action-btn:hover::after,
.action-btn:hover::before{
  opacity: 1;
  transform: translateX(-50%) translateY(-0.5rem);
}

.shadow-product{
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

/* ===================== Product ================ */



 /* ===================== SHOWCASE ================ */
 #showcase-title{
  position: relative;
 }
 #showcase-title::before{
  content: "";
  height: 2px;
  width: 100px;
  background-color: var(--color-main-color);
  position: absolute;
  bottom: -1px;
  left: 0px;
  
 }
 /* ===================== CART ================ */
 .table-container{
  overflow-x: auto;
 }

 .table{
  table-layout: fixed;
 }

 .table tr th,
 .table tr td{
  border-block: 1px solid var(--color-border-color-alt);
  padding: 0.5rem;
  text-align: center;
 }

 .table tr th:nth-child(1),
 .table tr td:nth-child(1){
  width: 216px;
 }

 
.table tr th:nth-child(1),
.table tr td:nth-child(1) {
  width: 216px;
}
.table tr th:nth-child(2),
.table tr td:nth-child(2) {
  width: 400px;
}
.table tr th:nth-child(3),
.table tr td:nth-child(3) {
  width: 108px;
}
.table tr th:nth-child(4),
.table tr td:nth-child(4) {
  width: 220px;
}
.table tr th:nth-child(5),
.table tr td:nth-child(5) {
  width: 200px;
}
.table tr th:nth-child(6),
.table tr td:nth-child(6) {
  width: 152px;
}

.order_table tr th,
.order_table tr td{
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--color-border-color-alt);
}

.divider::before{
  content:"";
  position: absolute;
  top:50%;
  left:0px;
  width: 100%;
  z-index: 9;
  border: 1px solid var(--color-border-color-alt);
}
 /* ===================== DETAILS ================ */
 #info table tr td,
 #info table tr th{
  border: 1px solid var(--color-border-color-alt);
  padding-inline: 20px;
  padding-block: 10px;
  color: var(--color-text-color);
  font-size: var(--text-normal-size);
  text-align: left;
  font-weight: 500;
 }

  /* ===================== SWIPER ================ */
 

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  @layer{
  :root {
    --text-big-size: 2.2rem;
    --text-h1-size: 2rem;
    --text-h2-size: 1.375rem;
    --text-h3-size: 1.25rem;
    --text-h4-size: 1.125rem;
    --text-large-size: 1rem;
    --text-normal-size: 0.9375rem;
    --text-small-size: 0.8125rem;
    --text-smaller-size: 0.625rem;
    --text-tiny-size: 0.625rem;
  }
}

  .container {
    @apply max-w-[960px];
  }

  /* #header-top {
    display: none;
  } */

  #nav {
    height: 5.5rem;
  }

  #nav-link {
    display: none;
  }



  
}

@media screen and (max-width: 992px) {
  .container {
    @apply max-w-[740px];
  }
  
  
  .table tr th:nth-child(1),
  .table tr td:nth-child(1) {
    width: 140px;
  }
  .table tr th:nth-child(2),
  .table tr td:nth-child(2) {
    width: 330px;
  }
  .table tr th:nth-child(3),
  .table tr td:nth-child(3) {
    width: 80px;
  }
  .table tr th:nth-child(4),
  .table tr td:nth-child(4) {
    width: 160px;
  }
  .table tr th:nth-child(5),
  .table tr td:nth-child(5) {
    width: 160px;
  }
  .table tr th:nth-child(6),
  .table tr td:nth-child(6) {
    width: 100px;
  }

  #footer__container{
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media screen and (max-width: 768px) {
  .container {
    @apply max-w-[540px];
  }

  #footer__container{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
  .action-btn {
    width: 36px;
    height: 36px;
    line-height: 38px;
  }
}
